<div class='top-page-header'>
  <%= image_tag "logo.png", class:"top-page-icon" %>
</div>

<%# 買うもの一覧 %>
<div class='buy-list'>買うもの一覧</div>
  <div class='buy-item'>牛乳</div>
<%# 買うもの一覧 %>

<%# リスト一覧 %>
<div class='item-contents'>
  <h1 class='lists'>リスト一覧</h1>
  <ul class='item-lists'>
    <% @items.each do |item| %>
      <li class='list'>
        <div class='item-content'>
          <div class='item-name'>
            <%= item.item %>
          </div>
          <div class='item-stock'>
            在庫 <%= item.stock %>
          </div>
          <div class='item-add-btn' id='item-add'>＋追加</div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<%# リスト一覧 %>
